@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #8080801c;
  box-sizing: border-box;
}
:root {
  --main-color: #9a56ff;
  --main-text: #9a56ff;
  --body-color: #8080801c;
}
/* ANIMATIONS */
.loader {
  font-size: 5px;
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow:
      0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff,
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7),
      2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7),
      1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7),
      0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7),
      -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7),
      -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7),
      -1.8em -1.8em 0 0em #ffffff;
  }
}

/* SWIPER */
.swiper {
  width: 100% !important; /* !important если стили Swiper перебивают */
  max-width: 100%;
  overflow: hidden; /* Чтобы ничего не вылезало */
}
.swiper-slide {
  width: auto !important; /* Отменяем стандартную ширину 100% */
}
.cart_icon::after {
  content: "";
  width: 70px;
  height: 50px;
  position: absolute;
  /* background: red; */
  left: -20;
  top: 0;
  z-index: -1;
}
.cart_icon:hover > .cart_header {
  display: block;
}
.cart_icon2::before {
  content: "";
  width: 100px;
  height: 20px !important;
  position: absolute;
  /* background: red; */
  left: 0;
  top: 10;
  cursor: pointer;
  z-index: 2;
}
.cart_icon2:hover > .cart_header {
  display: block;
}
.cart_header {
  display: none;
}
.p-inputnumber-buttons-horizontal .p-inputnumber-input {
  outline: none !important;
  text-align: center !important;
  border: 0 !important;
}
.p-inputtext:enabled:hover {
  border-color: var(--main-color) !important;
}
.p-inputtext {
  box-shadow: none !important;
}
.p-button {
  background: var(--main-color) !important;
  border-color: var(--main-color) !important;
}
.p-radiobutton.p-highlight .p-radiobutton-box {
  background: var(--main-color) !important;
  border-color: var(--main-color) !important;
}
.p-button .p-button-label {
  color: white !important;
}
.p-dialog .p-dialog-footer {
  display: flex;
}
.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
  margin-left: 0 !important;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
  color: var(--main-text);
  border-color: var(--main-color);
}
.p-inputswitch.p-highlight .p-inputswitch-slider{
  background: var(--main-color);
}
.p-inputtext:enabled:focus{
  border-color: var(--main-color);
}
/* .p-dialog .p-dialog-content {
  background: #eeeeee !important;
}
.p-dialog .p-dialog-header {
  background: #eeeeee !important;
} */
/* .p-dialog-mask.p-component-overlay{
  background: rgba(255, 255, 255, 0.726) !important;
} */
/* .p-radiobutton:not(.p-disabled):has(.p-radiobutton-input:hover) .p-radiobutton-box{
  border-color: var(--main-color) !important;
} */

/* Глобальные стили для всех скроллбаров на сайте */

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #bf94ffad;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b889ff;
}

.p-datatable-emptymessage > * {
  text-align: center;
}
/* BINARY TREE STYLES */
.svg-chart-container {
  width: 100%;
  /* height: 70vh; */
}

.svg-chart-container .link {
  stroke: var(--main-color);
}

.addUser {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  /* margin-left: 13px; */
}

.addUserImg {
  /* width: 50px; */
  /* height: 50px; */
  display: flex;
  align-items: center;
}

.addUserImg img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.load_more_node_btn {
  font-size: 30px;
  font-weight: bold;
  /* position: relative; */
  /* position: absolute; */
  /* bottom: 0; */
  margin-top: -8px;
  width: 100%;
  color: black;
  text-align: center;
  cursor: pointer;
}

/* MEDIA */
@media screen and (max-width: 700px) {
  .p-inputtext {
    /* height: 40px !important; */
    /* padding-top: 0; */
    /* padding-bottom: 0; */
  }
}
